/*
	Slideshow theme for Ladies Learning Code
	@author Christina Truong | christinatruong.com
	@version 1.0
*/
/* Global styles
-----------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box; }

/* updated clearfix hack: 
http://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;
  color: #222222;
  border-top: 4px solid #b109aa;
  -webkit-font-smoothing: antialiased;
  background: #ecf0f1; }

@-moz-document url-prefix() {
  body {
    font-weight: 300; } }
h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: -0.05em; }

h1 {
  font-weight: 400;
  font-size: 75px; }

h1, h2 {
  margin: 0;
  color: #b109aa; }

h2 {
  font-size: 40px; }
  h2 code {
    font-size: inherit;
    font-weight: normal;
    background: none;
    text-transform: lowercase; }

h3 {
  margin-bottom: 5px;
  font-size: 28px; }
  h3 + p {
    margin-top: 0; }

h4 {
  margin-bottom: 6px;
  letter-spacing: 0; }
  h4 + pre {
    margin-top: 6px; }

h5 {
  margin-bottom: 10px; }

h6 {
  text-transform: none;
  margin: 5px 0; }

a {
  color: #b109aa;
  border-bottom: 1px dotted #b109aa;
  text-decoration: none; }
  a:hover {
    color: #444444; }

p, ol, ul {
  margin: 15px 0; }

ol > li, ul > li {
  font-size: 23px;
  margin: 4px 0; }
ol ul, ol ol, ul ul, ul ol {
  margin: 5px 0; }
  ol ul li, ol ol li, ul ul li, ul ol li {
    font-size: 21px; }

pre {
  margin: 8px 0; }
  pre code {
    overflow-y: auto; }

code {
  font-family: Andale Mono, Monaco, monospace;
  color: #444;
  padding: 1px 4px;
  font-size: 20px;
  background: white;
  border-radius: 4px;
  padding: 0 6px; }

.footnote {
  line-height: 1.25;
  font-size: 1.75rem; }

.centered {
  text-align: center; }

.highlight,
a.highlight {
  color: red; }
  .highlight a,
  a.highlight a {
    color: red; }

[class^="col-"],
[class*="col-"] {
  float: left; }
  [class^="col-"]:first-child,
  [class*="col-"]:first-child {
    margin-right: 2%; }

.col-2 {
  width: 48%; }

.col-narrow {
  width: 38%; }

.col-wide {
  width: 60%; }

/* Base styles for slides
--------------------------*/
.slide {
  padding: 45px 5%;
  height: 96%; }
  .slide:after {
    content: " ";
    display: block;
    height: 200px; }
  .slide img {
    max-width: 100%; }
  .slide:target {
    overflow: auto; }
  .slide.js-fiddle > iframe:only-of-type {
    position: static;
    width: 525px;
    height: 350px; }
  .slide.centered {
    text-align: center; }
    .slide.centered img {
      width: 60%; }

/* For two column screenshots */
.side-by-side img {
  width: 49%;
  display: inline-block;
  vertical-align: top; }

/* vertical align heading */
.slide.title {
  transform-style: preserve-3d;
  padding-left: 8%;
  padding-right: 8%; }
  .slide.title h1, .slide.title h2 {
    position: relative;
    text-align: center;
    top: 40%;
    transform: translateY(-40%); }
  .slide.title h2 {
    color: #444444; }

/* Progress Bar */
#timer {
  height: 4px;
  line-height: 4px;
  background: #000000; }
  #timer:before {
    content: ""; }

/* textarea for dynamic CSS demos */
h2 + .edit {
  margin-top: 30px; }

textarea.snippet {
  width: 100%;
  border: 1px solid #222;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-family: Monaco, Andale Mono, monospace; }

.edit {
  float: right;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 2px 7px;
  position: relative;
  bottom: -10px;
  right: 8px;
  margin-bottom: -25px; }

/* table styles */
table th {
  font-weight: 400; }
table img {
  width: 100%; }

/* Creates border for slide examples */
.example {
  border: 1px solid #bdc3c7;
  padding: 0 15px; }
  .example p {
    margin: 10px 0; }
  .example:last-child {
    margin-bottom: 50px; }

/* Incremental slides */
.delayed.displayed,
.delayed-children > .displayed {
  opacity: 1; }

/* 
Background color style for headings
Use spans wrap inside of a heading for div. 
e.g.
<h1 class="title-bg">
  <span>Welcome to </span><br>
  <span>Ladies Learning Code!</span>
</h1>
*/
.heading-bg span {
  background: rgba(177, 9, 170, 0.8);
  border-radius: 5px;
  padding: 0 10px 0 6px; }
  .heading-bg span.light {
    background: rgba(255, 255, 255, 0.3); }
  .heading-bg span.dark {
    color: #222222; }
.heading-bg.connected span {
  display: inline-block;
  padding: 6px 15px; }
.heading-bg.connected .light:last-child {
  margin-left: 244px;
  margin-top: 4px; }

/* Title & Intro slides
------------------------*/
.intro {
  /*uncomment this if you don't want to use a background image */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../img/banner-home1.jpg) no-repeat;
  background-size: cover;
  color: #ffffff; }
  .intro .logo {
    height: 65px; }
  .intro h1 {
    font-size: 75px;
    margin: 20px 0;
    color: #ffffff; }
  .intro .info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2.2rem; }
  .intro .info .fa {
    padding-right: 10px; }
  .intro .info a {
    color: #ffffff; }
  .intro .instructor-img {
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-right: 20px; }
  .intro h2 {
    margin-bottom: 20px;
    color: #ffffff; }
    .intro h2 span {
      color: #b109aa;
      font-family: "Pacifico", cursive;
      margin-right: 4px;
      font-size: 3rem;
      text-transform: lowercase;
      font-weight: 400; }
  .intro .sponsor {
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: right; }
    .intro .sponsor img {
      width: 300px; }

/* Last/ Instructor info slide
-------------------------------*/
.last ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 2.2rem; }
.last .fa {
  padding-right: 10px; }
.last .heading-bg {
  margin-top: 40px; }
  .last .heading-bg span {
    background: rgba(177, 9, 170, 0.8);
    color: #ffffff;
    border-radius: 5px;
    padding: 0 10px 0 6px; }
.last .instructor-img {
  border-radius: 50%;
  width: 100px;
  float: left;
  margin-right: 20px; }
.last h3 {
  margin-bottom: 20px; }
  .last h3 span {
    color: #b109aa;
    font-family: "Pacifico", cursive;
    margin-right: 4px;
    font-size: 3rem;
    text-transform: lowercase;
    font-weight: 400; }
.last .attribution {
  position: absolute;
  bottom: 20px; }

/* highlight.js customizations
-------------------------------*/
.hljs {
  font-family: Andale Mono, Monaco, monospace;
  padding: 12px;
  border-radius: 2px;
  border: 1px solid #bdc3c7; }

.hljs-doctype,
.hljs-comment {
  color: #990; }

/* presenter notes overrides
-------------------------------*/
.presenter-notes {
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  margin: 0;
  max-height: inherit; }
  .presenter-notes p {
    margin-top: 0; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  font-size: 14px; }
  footer i {
    color: #b109aa; }
  footer p {
    margin: 4px 0; }
  footer .instructions {
    float: right;
    margin-right: 20px; }
  footer .license {
    float: left;
    margin-left: 20px; }
    footer .license img {
      vertical-align: middle; }
