/* Styles specific to this workshop
------------------------------------*/
.slide.intro {
  background: linear-gradient(rgba($black, 0.7),
              rgba($black, 0.7)), 
              url(../img/banner-home2.jpg) no-repeat;
  background-size: cover;
}

@mixin label($padding, $color) {
  padding-top: $padding+px;
  color: $color;
  border-left: 4px solid $color;
}
.page-layout {
  .screenshot,
  .labels {
    float: left;
  }
  .labels {
    margin-bottom: 200px;
  }
  .labels p {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .screenshot {
    margin-right: 20px;
  }
  .header {
    @include label(267, blue);
  }
  .about {
    @include label(326, green);
  }
  .loves {
    @include label(315, purple);
  }
  .footer {
    @include label(140, orange);
  }
}
.essay-headings {
  ol ul {
    font-size: inherit;
  }
}

.first-website {
  background: linear-gradient(rgba($black, 0.3),
              rgba($black, 0.8)), url(../img/workshop/kids-dancing.gif) no-repeat 50%;
  background-size: cover;
  padding-top: 10px;  
  
  .text {
    position: absolute;
    bottom: 60px;

    h1 {
      font-size: 120px;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      font-size: 40px;
      color: white;
    }
  }
}

.css-gif {
  background: url(../img/workshop/css.gif) no-repeat 50%;
  background-size: contain;
  padding-top: 35%;

  h1 {
    color: black;
    font-size: 70px;
    background: rgba(255, 255, 255, 0.498039);
  }
}
.final-exercise {
  background: linear-gradient(rgba($black, 0.5), rgba($black, 0)), url(../img/workshop/excited-baby.gif) no-repeat 50%;
  background-size: cover;
  padding-top: 10px;  
  
  h1 {
    font-weight: bold;
    font-size: 80px;
  }
}

